/*   border: 1px solid red; */
/* font-family: 'Outfit', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 250px;
  padding: 20px;
  flex-direction: column;
  border-radius: 12px;
}

img.imagem-qr {
  width: 100%;
  border-radius: 12px;
}

.conteudo-inferior {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

h2.titulo-qr {
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  margin-bottom: 8px;
}

p.texto-inferior {
  font-family: "Outfit", sans-serif;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
